@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
}

section {
  padding: 4rem 0;
}

.btn-cta {
  padding: 15px 20px;
  background-color: #fff;
  color: #ed8c34;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-top: 2rem;
  display: block;
  width: fit-content;
}

.navbar {
  background: linear-gradient(90deg, #223d70, #00183e);
  .nav-link {
    color: #fff;
    font-weight: bold;
  }
}

#intro {
  height: 80dvh;
  background: linear-gradient(
      90deg,
      rgba(33, 60, 111, 0.5),
      rgba(195, 100, 16, 0.5)
    ),
    url("../img/intro-bg.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  color: #fff;

  h1 {
    font-size: 7.75rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  .icon {
    font-size: 4rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    right: 50%;
  }
}

#about {
  background: linear-gradient(rgba(239, 144, 65, 1), rgba(191, 95, 10, 1));
  h1 {
    color: rgba(0, 24, 63, 1);
    font-weight: 900;
    font-size: 6rem;
  }

  p {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }

  img {
    width: 100%;
  }
}

#about-energy {
  h2 {
    color: #203a6d;
    font-size: 2.5rem;
    font-weight: bold;
  }

  p {
    color: #707070;
  }

  img {
    height: 100px;
    width: auto;
    display: block;
    margin: 0 auto;
  }
}

#working-area {
  background-color: #ed8c34;

  h1 {
    color: #00183e;
    font-size: 2.5rem;
    font-weight: bold;
  }

  p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

#step-adquire-energy {
  background: linear-gradient(90deg, #223d70, #00183e);
  color: #fff;

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

#projects {
  h1 {
    font-weight: bold;
    font-size: 4rem;
    max-width: 50%;
    display: block;
    margin: 0 auto 40px;
  }

  img {
    width: 200px;
    height: 200px;
  }
}
