@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
}

section {
  padding: 4rem 0;
}

h1 {
  font-weight: 900 !important;
}

.btn-cta {
  padding: 15px 20px;
  background-color: #fff;
  color: #ed8c34;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-top: 2rem;
  display: block;
  width: fit-content;
}

.btn-orcamento {
  color: #fff;
  background-color: #ed8c34;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.navbar {
  @media screen and (max-width: 991px) {
    padding: 20px 0 !important;
  }
}

.navbar-brand {
  @media screen and (max-width: 991px) {
    img {
      max-width: 150px;
    }
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar {
  background: linear-gradient(90deg, #223d70, #00183e);
  .nav-link {
    color: #fff;
    font-weight: bold;
  }
}

#orange-square-1 {
  @media screen and (min-width: 1400px) {
    object-fit: cover;
    border-radius: 20px 0 0 20px;
  }
}

#orange-square-2 {
  @media screen and (min-width: 1400px) {
    object-fit: cover;
    border-radius: 0 20px 20px 0;
  }
}

#intro {
  height: 80dvh;
  background: linear-gradient(
      90deg,
      rgba(33, 60, 111, 0.5),
      rgba(195, 100, 16, 0.5)
    ),
    url("../img/intro-bg.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  color: #fff;

  h1 {
    font-size: 7.75rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  .icon {
    font-size: 4rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    right: 50%;
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 4rem;
    }

    .icon {
      font-size: 2rem;
      position: absolute;
      bottom: 2rem;
      left: 50%;
      right: 50%;
    }
  }
}

#about {
  background: linear-gradient(rgba(239, 144, 65, 1), rgba(191, 95, 10, 1));
  h1 {
    color: rgba(0, 24, 63, 1);
    font-weight: 900;
    font-size: 6rem;
  }

  p {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }

  img {
    width: 100%;
    height: fit-content;
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 3rem;
      text-align: center;
    }

    p {
      font-size: 1.25rem;
    }
  }
}

#about-energy {
  h2 {
    color: #203a6d;
    font-size: 2.5rem;
    font-weight: bold;
  }

  p {
    color: #707070;
  }

  img {
    height: 100px;
    width: auto;
    display: block;
    margin: 0 auto;
  }

  @media screen and (max-width: 600px) {
    h2 {
      color: #203a6d;
      font-size: 2rem;
      font-weight: bold;
    }

    p {
      font-size: 1.25rem;
    }
  }
}

#working-area {
  background-color: #ed8c34;

  h1 {
    color: #00183e;
    font-size: 2.5rem;
    font-weight: bold;
  }

  p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.25rem;
    }

    img {
      width: 100%;
    }
  }
}

#step-adquire-energy {
  background: linear-gradient(90deg, #223d70, #00183e);
  color: #fff;

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: bold;
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.25rem;
    }

    img {
      margin-top: 20px;
      width: 100%;
    }
  }
}

#know-us {
  background: linear-gradient(180deg, #ef9041, #bf5f0a);
  color: #fff;
}

#projects {
  h1 {
    font-weight: bold;
    font-size: 4rem;
    max-width: 50%;
    display: block;
    margin: 0 auto 40px;
  }

  img {
    width: 300px;
    height: 300px;
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-weight: bold;
      font-size: 3rem;
      display: block;
      max-width: 100%;
      margin: 0 auto 20px;
    }
  }
}

#separator-white,
#separator-orange {
  @media screen and (max-width: 959px) {
    img {
      width: 100%;
    }
  }
}

#statements {
  h1 {
    font-size: 4rem;
    text-align: center;
  }

  .slick-list {
    padding-top: 90px;
  }

  .card {
    margin: 0 20px;
    padding: 20px;
    position: relative;

    .avatar {
      position: absolute;
      top: -80px;
      border-radius: 50%;
      border: 4px solid #fff;
    }

    h2 {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 3rem;
    }
  }
}

#get-to-know-more {
  color: #fff;
  background: linear-gradient(180deg, #223d70, #00183e);
  h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 40px;
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 3rem;
    }
  }
}

#common-doubts {
  .accordion-item {
    margin-bottom: 20px;
  }

  .accordion-button {
    font-size: 2rem;
    font-weight: 900;
    &::after {
      width: 2rem;
      height: 2rem;
      background-size: 2rem;
    }
  }
}

footer {
  background-color: #00183e;
  padding: 40px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
