@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
}

section {
  padding: 4rem 0;
}

h1 {
  font-weight: 900 !important;
}

@keyframes arrow-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.reveal {
  transform: translateY(150px);
  opacity: 0;
  transition: 0.8s ease-in-out all;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.btn-cta {
  padding: 15px 20px;
  background-color: #fff;
  color: #ed8c34;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-top: 2rem;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-orcamento {
  color: #fff;
  background-color: rgb(237, 140, 52);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}

@media screen and (max-width: 991px) {
  .navbar {
    padding: 20px 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .navbar-brand img {
    max-width: 150px;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.accordion {
  max-width: 55rem !important;
  margin: 0 auto;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%27currentColor%27%20class%3D%27bi%20bi-chevron-down%27%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill-rule%3D%27evenodd%27%20d%3D%27M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708%27%20stroke%3D%27rgb%28237%2C%20140%2C%2052%29%27%20stroke-width%3D%271%27%2F%3E%3C%2Fsvg%3E") !important;
}

.navbar {
  background: linear-gradient(90deg, #223d70, #00183e);
}
.navbar .nav-link {
  color: #fff;
  font-weight: bold;
}

@media screen and (min-width: 1400px) {
  #orange-square-1 {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px 0 0 20px;
  }
}

@media screen and (min-width: 1400px) {
  #orange-square-2 {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0 20px 20px 0;
  }
}

#intro {
  height: 80dvh;
  background: linear-gradient(90deg, rgba(33, 60, 111, 0.5), rgba(195, 100, 16, 0.5)), url("../img/intro-bg.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  color: #fff;
}
#intro h1 {
  font-size: 7.75rem;
  font-weight: 900;
  text-transform: uppercase;
}
#intro .icon {
  font-size: 4rem;
  position: absolute;
  bottom: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}
#intro .icon a {
  color: #fff;
  animation: arrow-animation infinite 2s normal;
}
@media screen and (max-width: 1200px) {
  #intro h1 {
    font-size: 4rem;
  }
  #intro .icon {
    font-size: 2rem;
  }
}

#about {
  background: linear-gradient(rgb(239, 144, 65), rgb(191, 95, 10));
}
#about h1 {
  color: rgb(0, 24, 63);
  font-weight: 900;
  font-size: 6rem;
}
#about p {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
#about img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 1200px) {
  #about h1 {
    font-size: 3rem;
    text-align: center;
  }
  #about p {
    font-size: 1.25rem;
  }
}

#about-energy h2 {
  color: #203a6d;
  font-size: 2.5rem;
  font-weight: bold;
}
#about-energy p {
  color: #707070;
}
#about-energy img {
  height: 100px;
  width: auto;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  #about-energy h2 {
    color: #203a6d;
    font-size: 2rem;
    font-weight: bold;
  }
  #about-energy p {
    font-size: 1.25rem;
  }
}

#working-area {
  background-color: #ed8c34;
}
#working-area h1 {
  color: #00183e;
  font-size: 2.5rem;
  font-weight: bold;
}
#working-area p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
#working-area img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  #working-area h1 {
    font-size: 3rem;
  }
  #working-area p {
    font-size: 1.25rem;
  }
}

#step-adquire-energy {
  background: linear-gradient(90deg, #223d70, #00183e);
  color: #fff;
}
#step-adquire-energy h1 {
  font-size: 4rem;
}
#step-adquire-energy p {
  font-size: 1.5rem;
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  #step-adquire-energy h1 {
    font-size: 3rem;
  }
  #step-adquire-energy p {
    font-size: 1.25rem;
  }
  #step-adquire-energy img {
    margin-top: 20px;
    width: 100%;
  }
}

#know-us {
  background: linear-gradient(180deg, #ef9041, #bf5f0a);
  color: #fff;
}

#projects h1 {
  font-weight: bold;
  font-size: 4rem;
  max-width: 50%;
  display: block;
  margin: 0 auto 40px;
}
#projects img {
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 1200px) {
  #projects h1 {
    font-weight: bold;
    font-size: 3rem;
    display: block;
    max-width: 100%;
    margin: 0 auto 20px;
  }
}

@media screen and (max-width: 1200px) {
  #separator-white img,
  #separator-orange img {
    width: 100%;
  }
}

#statements h1 {
  font-size: 4rem;
  text-align: center;
}
#statements .slick-list {
  padding-top: 90px;
}
#statements .card {
  margin: 0 20px;
  padding: 20px;
  position: relative;
}
#statements .card .avatar {
  position: absolute;
  top: -80px;
  border-radius: 50%;
  border: 4px solid #fff;
}
#statements .card h2 {
  font-size: 1.25rem;
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  #statements h1 {
    font-size: 3rem;
  }
}

#get-to-know-more {
  color: #fff;
  background: linear-gradient(180deg, #223d70, #00183e);
}
#get-to-know-more h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  #get-to-know-more h1 {
    font-size: 3rem;
  }
}

#common-doubts .accordion-item {
  margin-bottom: 20px;
}
#common-doubts .accordion-button {
  font-size: 2rem;
  font-weight: 900;
}
#common-doubts .accordion-button::after {
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
}

#contact h1 {
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 1200px) {
  #contact h1 {
    max-width: 100%;
  }
}

footer {
  background-color: #00183e;
  padding: 40px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */