@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
}

section {
  padding: 4rem 0;
}

#intro {
  height: 80dvh;
  background: linear-gradient(
      90deg,
      rgba(33, 60, 111, 0.5),
      rgba(195, 100, 16, 0.5)
    ),
    url("../img/intro-bg.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  color: #fff;

  h1 {
    font-size: 7.75rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  .icon {
    font-size: 4rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    right: 50%;
  }
}

#about {
  background: linear-gradient(rgba(239, 144, 65, 1), rgba(191, 95, 10, 1));
  h1 {
    color: rgba(0, 24, 63, 1);
    font-weight: 900;
    font-size: 6rem;
  }
}
